# dmm map merger hook
# needs additional setup, see tools/mapmerge/install.txt
*.dmm merge=merge-dmm

## Merger hooks, run tools/hooks/install.bat or install.sh to set up (not yet implemented)
*.dmi binary merge=dmi

*.gif binary
*.png binary
*.ogg binary

# force changelog merging to use union
html/changelog.html merge=union

# Declare files that will always have CRLF line endings on checkout.
*.dm text eol=crlf
*.dmm text eol=crlf
