[Unit]
Description=Systemd service for keeping the SS13 codebase AstroHaven13 up to date and running using docker.
Requires=docker.service
After=docker.service
StartLimitBurst=5
StartLimitIntervalSec=30

[Service]
Type=simple
WorkingDirectory=/home/ah13-srv-usr/Haven-Urist
ExecStart=/home/ah13-srv-usr/Haven-Urist/scripts/systemd-entrypoint.sh
RestartSec=20
Restart=always

[Install]
WantedBy=multi-user.target
