		</div>

<br><b>Astro-Haven 13 Credit List</b>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<font size='2'><b>Developers:</b> martinlyra</font><br>
			<font size='2'><b>Credits:</b>Ashturi, Glloyd, Greenjoe12345, MarkSuckerberg, retlaw34, Rockonanon, triplezeta</font><br>
		</td>
	</tr>
</table>
<br><b>Urist McStation Credit List</b>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<font size='2'><b>Developers:</b> Glloyd, Lmandude, Naxodile, scrdst, Vakothu</font><br>
			<font size='2'><b>Spriters:</b> Deer, Olly</font><br>
			<font size='2'><b>Credits:</b> Addle, Android SFV, Andromeda-K22, bknight286, Boggart, CanIgetanaccount, cgale212, chaoko99, Cheedows, CoZarctan, CPU-Blanc, dore0062, EyesNoEyes, Flip-Sandwich, ggermanicus, Greenjoe12345, Iamgoofball, JacobLee1, KG333, Knoxon, Kydrasz, Laniakeaaaa, liction15, LorenLuke, Lyeos, martinlyra, Mistamage, moonheart08, Octobomb, Racerbiscuit, rockwithagun, ShibberinoShipperino, Stefender, thomasstoeckert, Torque4607, Wymar</font><br>
		</td>
	</tr>
</table>
<br><b>Baystation 12 Credit List</b>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<font size='2'><b>Developers:</b> chinsky, F-Tang Steve, mloc, PsiOmegaDelta, sabiram, Snapshot, xales, Zuhayr</font><br>
			<font size='2'><b>Credits:</b> Abi79, Apple_Master, Arcalane, Aryn, Cael_Aislinn, Ccomp5950, chinsky, cib, CompactNinja, Deus Dactyl, DopeGhoti, Erthilo, faux, Flashkirby, Hawk_v3, Head, Ipsil, Invisty, JoeyJo0, Lexusjjss, Melonstorm, Miniature, mloc, NerdyBoy1104, PsiOmegaDelta, sabiram, Searif, SkyMarshal, Snapshot, Spectre, Strumpetplaya, Sunfall, Tastyfish, Uristqwerty, Xenone<br>
		</td>
	</tr>
</table>
<br>
<b>GoonStation 13 Development Team</b>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<font size='2'><b>Coders:</b> Stuntwaffle, Showtime, Pantaloons, Nannek, Keelin, Exadv1, hobnob, Justicefries, 0staf, sniperchance, AngriestIBM, BrianOBlivion</font><br>
			<font size='2'><b>Spriters:</b> Supernorn, Haruhi, Stuntwaffle, Pantaloons, Rho, SynthOrange, I Said No</font><br>
		</td>
	</tr>
</table>
<br>
<b>	Special thanks to... </b><br>
<font size='2'><b> The developers of Urist McStation, CEV-Eris, /tg/station, /vg/station, GoonStation and the original Space Station 13</b></font>
<p class="lic"><a name="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img src="88x31.png" alt="Creative Commons License" /></a><br><i>Except where otherwise noted, Goon Station 13 is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-Noncommercial-Share Alike 3.0 License</a>.<br>Rights are currently extended to <a href="http://forums.somethingawful.com/">SomethingAwful Goons</a> only.</i></p>
<p class="lic">Some icons by <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>. All rights reserved. Licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.</p>
</td></tr></table>
</body>
</html>
