:root {
	--colour-bg-dark: #202020;
	--colour-bg-darker: #171717;

	--colour-text-body: #eeeeee;
	--colour-text-motd: #eeeeee;

	--colour-text-critical: #aa19af;
	--colour-text-danger: #e6353e;
	--colour-text-warning: #e6bd24;
	--colour-text-notice: #bad11f;
	--colour-text-info: #1fa3d1;

	--colour-link-active: #23e47a;
	--colour-link-visited: #206b4e;
}

body {
	color: var(--colour-text-body);
	background-color: var(--colour-bg-darker);
	font-family: Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--colour-text-notice);
	font-family: Georgia, Verdana, sans-serif;
}

em {
	font-style: normal;
	font-weight: bold;
}

.motd {
	color: var(--colour-text-motd);
	font-family: Verdana, sans-serif;
}

.motd h1, .motd h2, .motd h3, .motd h4, .motd h5, .motd h6 {
	color: var(--colour-text-motd);
	text-decoration: underline;
}

.motd a, .motd a:link, .motd a:visited, .motd a:active, .motd a:hover {
	color: var(--colour-text-motd);
}

a, a:link, a:active, a:hover {
	color: var(--colour-link-active);
}

a, a:visited {
	color: var(--colour-link-visited)
}

.prefix             {font-weight: bold;}
.log_message        {color:#386aff;	font-weight: bold;}

/* OOC */
.ooc                {font-weight: bold;}
.ooc img.text_tag   {width: 32px; height: 10px;}

.ooc .everyone      {color:#174be6;}
.ooc .looc          {color:#2bb1b1;}
.ooc .elevated      {color:#2e78d9;}
.ooc .moderator	    {color:#275b96;}
.ooc .developer     {color:#2f8b35;}
.ooc .admin         {color:#c54014;}
.ooc .aooc          {color:#ca1b38;}

/* Admin: Private Messages */
.staffwarn          {color:#cc1f1f; font-weight:bold; font-size: 150%;}
.pm  .howto         {color:#ff0000;	font-weight: bold;		font-size: 200%;}
.pm  .in            {color:#ff0000;}
.pm  .out           {color:#ff0000;}
.pm  .other         {color:#0000ff;}

/* Admin: Channels */
.mod_channel        {color:#9e6d39;	font-weight: bold;}
.mod_channel .admin {color:#c54014;	font-weight: bold;}
.admin_channel      {color:#9e43c9;	font-weight: bold;}

/* Radio: Misc */
.deadsay            {color:#7334c5;}
.radio              {color:#60a32d;}
.deptradio          {color:#b334b3;}	/* when all other department colors fail */
.newscaster         {color:#a12424;}

/* Radio Channels */
.comradio           {color:#375dbd;}
.syndradio          {color:#9c5d5e;}
.centradio          {color:#7373a3;}
.airadio            {color:#b334b3;}
.entradio           {color:#888888;}

.secradio           {color:#ac1313;}
.engradio           {color:#b97713;}
.medradio           {color:#16aaaa;}
.sciradio           {color:#993399;}
.supradio           {color:#aa884d;}
.srvradio           {color:#86b11b;}
.expradio           {color:#b4bb27;}

/* Miscellaneous */
.name               {font-weight: bold;}
.say                {}
.alert              {color: var(--colour-text-danger);}
h1.alert, h2.alert  {color: var(--colour-text-body);}

.emote              {font-style: italic;}

/* Game Messages */
.attack	            {color: var(--colour-text-critical);}
.moderate           {color: var(--colour-text-danger);}
.disarm             {color: var(--colour-text-warning);}
.passive            {color: var(--colour-text-danger);}

.critical           {color: var(--colour-text-critical); font-weight: bold;}
.danger             {color: var(--colour-text-danger); font-weight: bold;}
.warning            {color: var(--colour-text-warning); font-style: italic;}
.boldannounce       {color: var(--colour-text-danger); font-weight: bold;}
.sinister           {color:#800080; font-weight: bold;	font-style: italic;}
.rose               {color:#ff5050;}
.info               {color: var(--colour-text-info);}
.notice             {color: var(--colour-text-notice);}
.alium              {color:#00ff00;}
.cult               {color:#800080; font-weight: bold; font-style: italic;}
.fountain           {color:#800080; font-style: italic; font-size: 175%;}

.reflex_shoot       {color:#000099; font-style: italic;}

.bold               {font-weight: bold}
.italic             {font-style: italic}

/* Languages */

.alien              {color:#543354;}
.skrell             {color:#00ced1;}
.soghun             {color:#228b22;}
.nabber_lang        {color:#525252;}
.solcom	            {color:#22228b;}
.changeling         {color:#800080;}
.vox                {color:#aa00aa;}
.rough              {font-family: "Trebuchet MS", cursive, sans-serif;}
.say_quote          {font-family: Georgia, Verdana, sans-serif;}
.terran             {color:#9c250b;}
.moon               {color:#422863;}
.spacer             {color:#ff6600;}
.adherent           {color:#526c7a;}

.interface          {color:#330033;}

.good               {color:#4f7529; font-weight: bold;}
.bad                {color:#ee0000; font-weight: bold;}

BIG IMG.icon        {width: 32px; height: 32px;}
