.center {
	text-align: center;
}
.maptext {
	font-family: san-serif;
	font-size: 8px;
	color: white;
	line-height: 0.6;
	-dm-text-outline: 1px black;
}
.screen-tip {
	font-size: 12px;
	font-weight: 900;
}
.stylized {
	font-family: 'Consolas', san-serif;
}
.clown {
	font-family: 'Comic Sans MS', san-serif;
}
