pygit2==1.0.1
bidict==0.13.1
Pillow==9.3.0

# check_regex
colorama==0.4.4
PyYaml==5.4
gitpython==3.1.30
unidiff==0.7.0

# changelogs
PyYaml==5.4
ruamel_yaml==0.17.10
PyGithub==1.55
beautifulsoup4==4.9.3
